<!DOCTYPE html>
<html lang="es">
    <head>
       <% include partials/head.html %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="../js/adm_cashout.js"></script>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
        </header>

        <section id="login">
            <div class="login1">
                <p class="encabezado" id="cabeza">¡Qué gusto verte de nuevo Administrador!</p>
                <p class="texto_plano">Ingresa el valor del dolar en pesos</p>
            </div>
        </section>
        <section id="cashoutForm1">
            <form class="login" id = "cashoutForm"  action='/admin/adm_do_cashout' method='POST'>
                <ul>
                    <li>
                        <label class="texto_plano">Dólar</label>
                        <input type="number"step="0.01" name="dolar" placeholder="0.00" required>
                    </li>
                </ul>
                <div class="button2">
                    <input type="submit" value="Hacer el corte">
                </div>
            </form>
        </section>

        <div id= "orderspacktable" class="tabla">
            <p class="encabezado">Paquetes trabajados</p>
            <table>
                <tr>
                    <th>Diseñador</th>
                    <th>Imágenes</th>
                    <th>Monto</th>
                </tr>
            </table>
        </div>
    </body>
</html>