extends layout.jade
block content
	div(class="")
		h1 Agregar foto
		form(role="form" action="/upload" method="post"  enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" placeholder="introduce el nombre" name="titulo" class="form-control")
			div(class="form-group")
				label Descripcion
				input(type="text" placeholder="introduce la descripcion" name="descrip" class="form-control")
			div(class="form-group")
				label Nombre
				input(type="file" name="photoimage" class="form-control")
			input(type="submit" class="btn btn-default" value="Guardar")