* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, arial, sans-serif;
}

html {
    background: url(../images/fondo_intro.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondoopaco{
    background: #000000;
    opacity: 0.6;
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -99998;
}

#logo {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    width: auto;
}

#menuhor {
    width:460px;
    height: 20px;
    margin-top: 25px;
    padding: 5px;
    background: #000000;
    float: right;
}

#menu1 li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
}

#navregistro {
    height: 20px;
    padding: 8px;
    background: red;
}

#menu1 li a:hover {
    color: #CCCCCC;
    transition: .2s;
}

#menu1 {
    text-align: center;
    padding: 0px;
}

#menu1 li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#texto_intro {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#uno {
    font-size: 52px;
}

#dos {
    font-size: 46px;
}

#tres {
    font-size: 24px;
}

#botones_intro{
    padding: 20px;
    height: 50px;
    max-width: 300px;
    margin: 0 auto;
}

.button1 a{
    border: 2px solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    transition: .1s;
}

.button2 a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    transition: .1s;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99999;
    overflow: hidden;
}

.button1 a:hover,.button2 a:hover, .button2 input:hover, .button3:hover, .button4:hover, .button5:hover, .button6 a:hover, .button7 a:hover{
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.2);
    transition: .2s;
}


html, body {
    height: 100%;
}

#contenedor {
    min-height: 100%;
    margin-bottom: -70px;
}

#contenedor:after {
    content: "";
    display: block;
}

.cetificate, #contenedor:after {
    height: 70px;
}

.certificate {
    height: 70px;
    background: rgba(0,0,0,0.5);
    width: auto;
    bottom: 0;
    right: 0;
    text-align: center;
}

#letras li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#letras{
    margin-top: 5px;
    height: 40px;
    width: 400px;
    display: inline-block;
    transition: .1s;
}

#letras a:hover{
    opacity: 0.2;
    cursor: pointer;
    transition: .2s;
}

.iconos{
    margin-top: 5px;
    height: 40px;
    width: 140px;
    display: inline-block;
}

.certificate a {
    font-size: 12px;
}

.iconos span {
    display: none;
}

.faceicon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_face.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.faceicon:hover {
    opacity: 0.2;
    /*background-position: center top; */
    transition: .2s;
}

.twiticon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_twit.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.twiticon:hover {
    opacity: 0.2;
    /*background-position: center top; */
    transition: .2s;
}

.insticon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_insta.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.insticon:hover {
    opacity: 0.2;
    transition: .2s;
}

.iconos li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 26px;
    width: 26px;
}

span {
    margin-left: 20px;
}