* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, arial, sans-serif;
}

html {
    background: #E5E5E5 no-repeat center center fixed;
    background-size: cover;
}

#logo {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    width: auto;
}

#menuhor {
    width:460px;
    height: 20px;
    margin-top: 25px;
    padding: 5px;
    background: #000000;
    float: right;3
}

#menu1 li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    transition: .1s;
}

#navregistro {
    height: 20px;
    padding: 8px;
    background: red;
}

#menu1 li a:hover {
    color: #CCCCCC;
    transition: .2s;
}

#menu1 {
    text-align: center;
    padding: 0px;
}

#menu1 li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#texto_como1 {
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
}


.columna {
    padding: 10px;
    width: 252px;
    height: 240px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
}

.columna li {
    list-style:none;
}

.encabezado {
    font-size: 28px;
    padding: 10px 5px;
    font-weight: bold;
}

.texto_enfasis {
    color: red;
}

.texto_plano {
    font-size: 14px;
    padding: 5px;
}


#texto_como2 {
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
}

.video{
    width: 410px;
    height: auto;
    display: inline-block;
    padding: 5px;
}

.atributos {
    color: #000000;
    text-align: left;
    height: auto;
    width: 340px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.atributos .encabezado {
    padding-bottom: 2px;
}

.atributos .texto_plano {
    padding: 0px;
    list-style: none;
}

#botones_como1{
    padding: 20px;
    height: 50px;
    max-width: 300px;
    margin: auto;
}

.button1 a{
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    transition: .1s;
}

.button2 a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    transition: .1s;
}

.modalDialogVideo {
    color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialogVideo:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialogVideo > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #000000;
}

.close {
    background: #000000;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #FFFFFF;
    line-height: 24px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -7px;
    width: 24px;
    text-decoration: none;
    font-size: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 24px;
}

#texto_Precios {
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    height: auto;
}

#wraper {
    border: 2px solid;
    margin: 0;
    height: 200px;
    padding: 10px 30px;
}

#texto_Precios .columna {
    padding: 10px;
    width: 300px;
    height: 440px;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


#texto_Precios .texto_plano {
    list-style: disc;
}

#texto_Precios .button2 {
    margin: 20px;
    height: 60px;
    transition: .1s;
}

#texto_Precios .button1 {
    margin: 20px;
    height: 60px;
    transition: .1s;
}

#texto_Precios .button2 a{
    background-color: red;
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    transition: .1s;
}

#bajoprecio1 {
    margin-top: 35px;
    margin-left: 20px;
}

#bajoprecio {
    margin-top: 20px;
    margin-left: 20px;
}

.megatex {
    font-size: 36px;
    font-weight: bolder;
}

#faqs {
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    height: auto;
}

.parrafo1 {
    padding: 10px;
    max-width: 800px;
    width: auto;
    height: auto;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
}

#registro {
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    height: auto;
}

.modalDialogRegistro {
    color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialogRegistro:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialogRegistro > div {
    width: 500px;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 20px 20px;
    background: #000000;
}


#openRegistroModal .encabezado {
    text-align: center;
}

.registro_form ul {
    width: 500px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.registro_form li {
    padding: 12px;
    border-bottom: 1px solid #555555;
    position: relative;
}

.registro_form li:first-child {
    border-top: 1px #555555;
}

.registro_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 5px 8px;
    font-size: 12px;
}

.registro_form :-moz-placeholder {color: #333333; font-size: 14px; font-style: italic;}
.registro_form ::-webkit-input-placeholder {color: #333333; font-size: 14px; font-style: italic;}

.registro_form input {
    height: 20px;
    width: 270px;
    padding: 5px 8px;
    font-size: 16px;
    background: none;
    color: #FFFFFF;
}

.registro_form .button2 input{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    float: none;
    right: 25%;
    left: 25%;
    width: auto;
    height: auto;
    position: absolute;
}

.registro_form input:focus {
    outline-color: #555555;
}

#botones_redesReg{
    text-align: center;
}

.redes_icon{
    margin-right: 10px;
    float: left;
    height: 16px;
}

.button3, .button4, .button5 {
    display: inline-block;
    color: #FFFFFF;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    float: none;
    width: auto;
    height: auto;
    transition: .1s;
}

.button3 {
    background-color: #0952b8;
    transition: .1s;
}

.button4 {
    background-color: #d60000;
    transition: .1s;
}

.button5 {
    background-color: #0368ae;
    transition: .1s;
}

.button6{
    padding: 10px 10px;
    text-align: center;
    margin: 10px 10px;
    transition: .1s;
}

.button6 a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: none;
    width: auto;
    height: auto;
    transition: .1s;
}

.button7 {
    padding: 10px 10px;
    text-align: center;
    margin: 10px 10px;
    transition: .1s;
}

.button7 a{
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: none;
    width: auto;
    height: auto;
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    transition: .1s;
}

#registro_boton .texto_plano {
    text-align: center;
    margin-top: 30px;
}

#registro_boton .button7{
    margin-bottom: 50px;
}

#paraabrirmodal {
    text-decoration: none;
    cursor: pointer;
    color: red;
    transition: .1s;
}

#paraabrirmodal:hover {
    color: #CCCCCC;
    transition: .2s;
}

#terminos a{
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}
#terminos{
    float: left;
    width: auto;
}

#checkbox{
    padding-top: 10px;
    font-style: italic;
}

#checkbox input{
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#login {
    text-align: center
}

#login .texto_plano {
    margin-top: 5px;
}

.accedeForm {
    margin-top: 30px;
    width: 440px;
    text-align: center;
    display: inline-block;
}

.accedeForm ul {
    width: auto;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.accedeForm li {
    padding: 12px;
    position: relative;
}

.accedeForm label {
    width: 100px;
    margin-top: 3px;
    display: inline-block;
    padding: 5px 8px;
    font-size: 12px;
    text-align: right;
}

.accedeForm input, textarea {
    display: inline-block;
    height: 20px;
    width: 270px;
    padding: 5px 8px;
    font-size: 16px;
    background: none;
    color: #000000;
    cursor: text;
    background-color: #ddd;
}

.accedeForm input:focus,textarea:focus {
    outline-color: #CCCCCC;
    background-color: #EEEEEE;
}

.accedeForm .button2 input{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    border: none;
}

textarea {
    min-height: 20px;
    max-width: 270px;
    height: 150px;
    max-height: 150px;}

.accedeForm :-moz-placeholder {color: #BBBBBB; font-size: 14px; font-style: italic;}
.accedeForm ::-webkit-input-placeholder {color: #BBBBBB; font-size: 14px; font-style: italic;}

.button1 a:hover,.button2 a:hover, .button2 input:hover, .button3:hover, .button4:hover, .button5:hover, .button6 a:hover, .button7 a:hover{
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.2);
    transition: .2s;
}


html, body {
    height: 100%;
}

#contenedor {
    min-height: 100%;
    margin-bottom: -70px;
}

#contenedor:after {
    content: "";
    display: block;
}

.cetificate, #contenedor:after {
    height: 70px;
}

.certificate {
    height: 70px;
    background: rgba(0,0,0,0.5);
    width: auto;
    bottom: 0;
    right: 0;
    text-align: center;
}

#letras li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#letras{
    margin-top: 5px;
    height: 40px;
    width: 400px;
    display: inline-block;
    transition: .1s;
}

#letras a:hover{
    opacity: 0.2;
    cursor: pointer;
    transition: .2s;
}

.iconos{
    margin-top: 5px;
    height: 40px;
    width: 140px;
    display: inline-block;
}

.certificate a {
    font-size: 12px;
}

.iconos span {
    display: none;
}

.faceicon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_face.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.faceicon:hover {
    opacity: 0.2;
    /*background-position: center top; */
    transition: .2s;
}

.twiticon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_twit.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.twiticon:hover {
    opacity: 0.2;
    /*background-position: center top; */
    transition: .2s;
}

.insticon {
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    background: url(../images/footicon_insta.png) no-repeat left center;
    background-size: 26px;
    opacity: 1;
    display: inline-block;
    transition: .1s;
}

.insticon:hover {
    opacity: 0.2;
    transition: .2s;
}

.iconos li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 26px;
    width: 26px;
}

span {
    margin-left: 20px;
}